{% extends 'base.html' %}
{% load static %}
{% block content %}


<body>
    <main>
        <!-- Jumbotron -->
        <div class="container-fluid callout-container">
            <div class="features">
                <div class="col-12">
                    <section class="callout jumbotron text-center  mt-2">
                        <h1 class="jumbotron-header">Let us bring that smile back on your face!</h1>
                        <hr class="block-divider block-divider--orange">
                        <p class="lead">What Can Lovely smiles dental Do For You?
                            <span class="d-inline d-sm-none"><br></span>
                            <mark>Consultation is free!</mark></p>
                        <a class="btn btn-info btn-sm" href="{% url 'makeappointment' %}">Make an appointment</a>
                </div>
            </div>

        </div>

        <!-- Contact details section -->
        <div class="container-fluid row-contact p-4">
            <div class="row form-group contact-details text-center">

                <div class="col-12 col-lg-4 p-sm-3">
                    <a class="p-2" href="mailto:contact@lovelysmilesdendal.info"
                        aria-label="Click here to send an email to Lovely smiles dental"><i
                            class="fa-solid fa-envelope px-1"></i>Email:
                        contact@lovelysmilesdendal.info</a>
                </div>
                <div class="col-12 col-lg-4 p-sm-3">
                    <a class="p-2" href="tel:(01)1234567" aria-label="Click here to call Lovely smiles dental"><i
                            class="fas fa-phone px-1"></i>Tel: (01)
                        1234567
                    </a>
                </div>
                <div class="col-12 col-lg-4 p-sm-3">
                    <a class="p-2" href="https://goo.gl/maps/LjcvscnqDVpN3exN9"
                        aria-label="Click here to find us (opens in maps app)" target="_blank"><i
                            class="fa-solid fa-map-location-dot px-1"></i>5 Frederick St,
                        Milltown, Ashbourne, Co. Meath</a>
                </div>


            </div>
        </div>
    </main>
</body>
{% endblock content %}
