{% extends 'base.html' %}
{% load static %}
{% block content %}


<body>
    <main>
        <!-- Jumbotron -->
        <div class="container-fluid callout-container">
            <div class="features">
                <div class="col-12">
                    <section class="callout jumbotron text-center  mt-2">
                        <h1 class="jumbotron-header">Let us bring that smile back on your face!</h1>
                        <hr class="block-divider block-divider--orange">
                        <p class="lead">What Can Lovely smiles dental Do For You?
                            <span class="d-inline d-sm-none"><br></span>
                            <mark>Consultation is free!</mark></p>
                        <a class="btn btn-info btn-sm" href="{% url 'make_appointment' %}">Make an appointment</a>
                </div>
            </div>

        </div>

        <!-- Contact details section -->
        <div class="container-fluid row-contact p-4">
            <div class="row form-group contact-details text-center">

                <div class="col-12 col-lg-4 p-sm-3">
                    <a class="p-2" href="mailto:contact@lovelysmilesdendal.info"
                        aria-label="Click here to send an email to Lovely smiles dental"><i
                            class="fa-solid fa-envelope px-1"></i>Email:
                        contact@lovelysmilesdendal.info</a>
                </div>
                <div class="col-12 col-lg-4 p-sm-3">
                    <a class="p-2" href="tel:(01)1234567" aria-label="Click here to call Lovely smiles dental"><i
                            class="fas fa-phone px-1"></i>Tel: (01)
                        1234567
                    </a>
                </div>
                <div class="col-12 col-lg-4 p-sm-3">
                    <a class="p-2" href="https://goo.gl/maps/LjcvscnqDVpN3exN9"
                        aria-label="Click here to find us (opens in maps app)" target="_blank"><i
                            class="fa-solid fa-map-location-dot px-1"></i>5 Frederick St,
                        Milltown, Ashbourne, Co. Meath</a>
                </div>


            </div>
        </div>

         <!-- Features, Specific benefits -->
         <div class="container-fluid">
            <div class="row form-group py-3 mt-4">
                <div class="col-12 col-sm-6 col-lg-4 row-blue p-4">
                    <h2><i class="fa-solid fa-hand-holding-heart d-none d-sm-inline pr-2"></i>Care for your dental
                        health</h2>
                    <p class="py-3">
                        Careful attention towards every clients individual needs and situations.
                        Our mission is our client's healthy mouth and a lovely smile.
                    </p>
                </div>
                <div class="col-12 col-sm-6 col-lg-4 row-pink p-3">
                    <div class="feature">
                        <h2><i class="fa-solid fa-user-nurse d-none d-sm-inline pr-2"></i>Qualified personnel</h2>
                        <p class="py-3">
                            The team consists of highly qualified dentists that undergo annual certification and have
                            great clinical experience.
                        </p>
                    </div>
                </div>
                <div class="col-12 col-sm-6 col-lg-4 row-green p-3">
                    <h2><i class="fa-solid fa-children d-none d-sm-inline pr-2"></i>Children friendly</h2>
                    <p class="py-3">
                        Our specialists will do everything to make kids forget about the fear and tears at the dentist's
                        office and they will please their parents with healthy and shiny smiles.
                    </p>
                </div>
                <div class="col-12 col-sm-6 col-lg-4 row-contact p-3">
                    <h2><i class="fa-solid fa-comment-medical d-none d-sm-inline pr-2"></i>Free consultation</h2>
                    <p class="py-3">
                        Free consultation by a qualified specialist and provide you with a diagnosis and treatment
                        options.
                        Occasionally, treatment can be performed the same day as the consultation.
                    </p>
                </div>
                <div class="col-12 col-sm-6 col-lg-4 row-blue p-3">
                    <h2><i class="fa-solid fa-phone-alt d-none d-sm-inline pr-2"></i>Emergency call</h2>
                    <p class="py-3">
                        If you have a sudden, severe toothache, call our number on any day, including weekends and
                        holidays! If outside of working hours, leave us a voice-message and we will get back to you as
                        soon as we can.
                </div>
                <div class="col-12 col-sm-6 col-lg-4 row-pink p-3">
                    <h2><i class="fa-solid fa-tools d-none d-sm-inline pr-2"></i>Modern equipment</h2>
                    <p class="py-3">
                        Our practice is equipped with the latest technologies - this guarantees a high quality of works
                        performed in the most comfortable conditions for the patient. Painless treatment is guaranteed
                        by using the latest generation of anesthetics.
                    </p>
                </div>
            </div>
        </div>

        <!-- Map and opening hours -->
        <div class="container-fluid">
            <div class="row">

                <div class="map col-12 col-sm-6 text-center mt-2">
                    <h3>Our location</h3>
                    <iframe
                        src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d9491.50611918862!2d-6.404033242122908!3d53.506400980205704!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x486715d93475d459%3A0x5593e11b6c87d65!2sLovely%20smiles%20dental!5e0!3m2!1sen!2sie!4v1665224523024!5m2!1sen!2sie"
                        style="border:0;" allowfullscreen="" loading="lazy"
                        referrerpolicy="no-referrer-when-downgrade"></iframe>

                </div>
                <div class="hours col-12 col-sm-6 text-center mt-2">
                    <h3>Opening hours</h3>
                    <table class="d-flex justify-content-center">
                        <tr>
                            <th>Monday</th>
                            <td>8am - 5pm</td>
                        </tr>
                        <tr>
                            <th>Tuesday</th>
                            <td>8am - 5pm</td>
                        </tr>
                        <tr>
                            <th>Wednesday</th>
                            <td>8am - 5pm</td>
                        </tr>
                        <tr>
                            <th>Thursday</th>
                            <td>8am - 5pm</td>
                        </tr>
                        <tr>
                            <th>Friday</th>
                            <td>8am - 5pm</td>
                        </tr>
                        <tr>
                            <th>Saturday</th>
                            <td>8am - 1pm</td>
                        </tr>
                        <tr>
                            <th>Sunday</th>
                            <td>Closed</td>
                        </tr>
                    </table>
                </div>
            </div>
        </div>
    </main>
</body>
{% endblock content %}
