{% extends 'base.html' %}
{{ form.media }}

{% block content %}

<!-- Appointment confirm delete form -->
<div class="container row-pink">
    <div class="form-style text-center p-3 m-3">
        <h1 class="text-center">Confirm Appointment Deletion</h1>
        <form method="post">
            {% csrf_token %}
            <p>Are you sure you want to delete this Appointment: "{{ object.pk }}"?</p>
            <p>Service: {{ object.service }}</p>
            <p>Patient: {{ object.patient_name }}</p>
            <p>Date: {{ object.appointment_date }}</p>
            <p>Time: {{ object.appointment_time }}</p>

            <input type="submit" value="Confirm" class="btn btn-danger button-style">
        </form>
    </div>
</div>
{% endblock %}